{% extends 'base.html.twig' %}

{% block title %}Welcome, change my name page!!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Hello {{ name }}! ✅</h1>
        <p>Lorem ipsum dolor sit amet.</p>
        <a href="aboutMe">Go back</a>

    </div>

{% endblock %}